body {
	margin: 0;
	background: #FFF;
}

.map {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.world {
	position: absolute;
	width: 100%;
	height: 100%;
}

.marker {
	position: absolute;
	opacity: 1;
}

/*
.marker.dhotson {
	top: 70.99%;
	left: 90.2675%;
}

.marker.lox {
	top: 29.0138%;
	left: 15.99498%;
}

.marker.uk {
	top: 21.3889%;
	left: 50%;
}

.marker.jp {
	top: 30.1851%;
	left: 88.8194%;
}
*/

.marker .inner {
	position: relative;
	bottom: 32px;
	left: -50%;
}


.marker .shadow {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0;
	top: 16px;
	background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgba(0,0,0,0.6), rgba(0,0,0,0));
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: scale3d(2,0.8,1);

	/* */
}

.marker.visible {
	visibility: visible;
}

.marker.disappearing {
	-webkit-transform-style: flat;

	-webkit-animation-name: markerdisappear;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}


.marker.visible .bounce {
	-webkit-animation-name: markerappear;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.marker.visible .shadow {
	-webkit-animation-name: markerappearshadow;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.marker .glow {
	position: absolute;
	width: 54px;
	height: 54px;
	left: -11px;
	top: -11px;
	background-image: -webkit-radial-gradient(50% 55%, circle closest-side, rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.marker .mask {
	-webkit-mask: url(masktip.png) 50% 100% no-repeat;
	-webkit-mask-box-image: url(mask.png) 10 10 15 10;
}

.marker .content {
	height: 32px;
	width: 32px;
}

.marker .content img {
	width: 100%;
	height: 100%;
}

@-webkit-keyframes markerappear {
	0% {
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: perspective(100px) rotate3d(1,0,0,80deg) scale3d(0.5,1,1);
	}
	70% {
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: perspective(100px) rotate3d(1,0,0,-30deg) scale3d(1,1,1);
	}
	100% {
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: perspective(100px) rotate3d(1,0,0,0) scale3d(1,1,1);
	}
}

@-webkit-keyframes markerdisappear {
	0% {
		-webkit-transform-origin: 0% -50%;
		-webkit-transform: perspective(60px) rotate3d(1,0,0,0) translate3d(0,0,0);
		opacity: 1;
	}
	20% {
		-webkit-transform-origin: 0% -50%;
		-webkit-transform: perspective(60px) rotate3d(1,0,0,15deg) translate3d(0,0,-5px);
		opacity: 0.9;
	}
	100% {
		-webkit-transform-origin: 0% -50%;
		-webkit-transform: perspective(60px) rotate3d(1,0,0,30deg) translate3d(0,0,-40px);
		opacity: 0;
	}
}


@-webkit-keyframes markerappearshadow {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
